<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Personal Diary</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Gamja Flower', cursive;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .my_name {
            font-weight: bold;
            color: rgba(1, 48, 106, 0.74);
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

        .btn-group {
            margin: auto;
        }

        .

        "btn-light"
        {
            float: right
        ;
        }
    </style>
    <script>
        $(document).ready(function () {
            showDiary();
            let temp = location.href.split("?")
            let email = temp[1]
            $('#account').text(email);
        });

        function openClose() {
            if ($("#post-box").css("display") == "block") {
                $("#post-box").hide();
                $("#submit").text("save my diary");
                $("#submit").attr("onclick", "postDiary();");
                $("#btn-post-box").text("포스팅 박스 열기");
                $("#post_title").attr("placeholder","enter your diary's title");
            } else {
                $("#post-box").show();
                $("#submit").text("save my diary");
                $("#submit").attr("onclick", "postDiary();");
                $("#btn-post-box").text("포스팅 박스 닫기");
            }
        }

        function postDiary() {
            let title = $('#post_title').val()
            let contents = $('#post_contents').val()
            let image = $('#post-image').val()

            $.ajax({
                type: "POST",
                url: "/memo/save",
                data: {title_give: title, contents_give: contents, image_give: image},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload()
                }
            })
        }

        function showDiary() {
            $.ajax({
                type: "GET",
                url: "/memo/list",
                data: {},
                success: function (response) {
                    let diary = response['all_diary']
                    console.log(diary)
                    for (let i = 0; i < diary.length; i++) {
                        let title = diary[i]['title']
                        let image = diary[i]['image']
                        let contents = diary[i]['contents']

                        let temp_html = `<div class="card">
                                                <img class="card-img-top"
                                                     src="${image}"
                                                     alt="Card image cap">
                                                <div class="card-body">
                                                                 <h3 class="card-title">${title}</h3>
                                                                 <p class="card-text">${contents}</p>
                                                                 <p class="card-text my_name">2016112600 이동영</p>
                                                                 <button type="button" class="btn-light" onclick="deleteDiary('${title}')">삭제</button>
                                                                 <button type="button" class="btn-light" onclick="editopen()">수정</button>
                                                </div>
                                            </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function deleteDiary(title) {
            $.ajax({
                type: 'POST',
                url: '/memo/delete',
                data: {title_give: title},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }

        function editopen() {
            if ($("#post-box").css("display") == "block") {
                $("#post-box").hide();
            } else {
                $("#post-box").show();
                $("#post_title").attr("placeholder","re-enter same title to edit");
                $("#submit").text("edit my diary");
                $("#submit").attr("onclick", "editDiary();");
            }
        }

        function editDiary() {
            let title = $('#post_title').val()
            let contents = $('#post_contents').val()
            let image = $('#post-image').val()

            $.ajax({
                type: "POST",
                url: "/memo/edit",
                data: {title_edit: title, contents_edit: contents, image_edit: image},
                success: function (response) {
                    alert(response["msg"]);
                    window.location.reload()
                }
            })
        }

        function account_chg(){
            alert('you are signed out');
            $('#account').text("account");
            window.location.href = 'http://localhost:5000/';
        }
    </script>

</head>

<body>
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="account"
            aria-expanded="false">
        account
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="http://localhost:5000/signup_page?">sign up</a>
        <a class="dropdown-item" href="http://localhost:5000/signin_page?">sign in</a>
        <a class="dropdown-item" href="javascript:account_chg();">sign out</a>
    </div>
</div>
<br><br>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">My Diary</h1>
        <p class="lead">create your own diary on webpage</p>
        <p class="lead">2016112600 이동영</p>
        <hr class="my-4">
        <p>click post button to post your diary</p>
        <p class="lead">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">포스팅 박스 열기
            </button>
        </p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post_title">Diary title</label>
                <input id="post_title" class="form-control" placeholder="enter your diary's title">
            </div>
            <div class="form-group">
                <label for="post_contents">contents</label>
                <textarea id="post_contents" class="form-control" rows="2"
                          placeholder="Write about your day!"></textarea>
            </div>
            <div class="form-group">
                <label for="post-image">img url</label>
                <textarea id="post-image" class="form-control" rows="1"
                          placeholder="copy your image url here!"></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="submit" onclick="postDiary()">Save my Diary</button>
        </div>
    </div>
    <div id="cards-box" class="card-columns">
    </div>
</div>
</body>

</html>