<button type="submit" class="delete-multi">delete-multi</button>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>select</th>
                <th>userid</th>
                <th>username</th>
                <th>level</th>
                <th>control</th>
            </tr>
        </thead>
        <tbody>
            <tr id="row-1">
                <td><input type="checkbox" id="row-1-select" name="row-1-select"></td>
                <td><input type="text" id="row-1-userid" name="row-1-userid" value="dong5854"><i>dong5854</i></td>
                <td><input type="text" id="row-1-username" name="row-1-username" value="이동영"><i>이동영</i></td>
                <td><select size="1" id="row-1-office" name="row-1-office">
                    <option value="1" selected="selected">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                </select></td>
                <td><button type="submit" class="edit">edit</button><button type="submit" class="delete">delete</button></td>
            </tr>
            <tr id="row-2">
                <td><input type="checkbox" id="row-2-select" name="row-2-select"></td>
                <td><input type="text" id="row-2-userid" name="row-2-userid" value="chae"><i>chae</i></td>
                <td><input type="text" id="row-2-username" name="row-2-username" value="채승완"><i>채승완</i></td>
                <td><select size="1" id="row-1-office" name="row-2-office">
                    <option value="1" selected="selected">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                </select></td>
                <td><button type="submit" class="edit">edit</button><button type="submit" class="delete">delete</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>select</th>
                <th>userid</th>
                <th>username</th>
                <th>level</th>
                <th>control</th>
            </tr>
        </tfoot>
    </table>