<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Personal Diary</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <style>
        .form-signin {
            width: 500px;
            margin: auto;
        }

        .mb-4 {
            margin-top: 200px;
        }
    </style>

    <script>
        function signin() {
            let email = $('#inputEmail').val()
            let password = $('#inputPassword').val()
            let certified = false

            $.ajax({
                type: "GET",
                url: "/signin_page/signin",
                data: {id_give:email},
                success: function (response) {
                    let users = response['all_users']
                    for (let i = 0; i < users.length; i++) {
                        let email_real = users[i]['email']
                        let password_real = users[i]['password']
                        console.log(email_real);
                        console.log(password_real);
                        if ((email_real == email)&&(password_real == password))
                        {
                        certified = true
                        alert("you are signed in");
                        window.location.href = 'http://localhost:5000/?'+email;
                        break;
                        }
                    }
                }
            })
        }
    </script>

</head>
<body class="text-center">
<form class="form-signin">
    <img class="mb-4"
         src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F2249BF41548ACE3E01"
         alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="signin()">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2016112600 이동영</p>
</form>
</body>
</html>